body{
	}

.box span{
	display: block;
	text-align: center;
	margin-top: 90px;
}

.box {

	width: 200px;
	height: 200px;
	border: 2px solid #000;
	background-color: azure;
	animation-name:move;
	animation-duration:2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	
}

@keyframes move {
	0%{
		margin: 0px;
	}

	100% {
		margin: 200px;
	}
}

.block_orange{
	padding-top: 30px;
	width:  94%;
	height: 322px;
	margin: 3%;
	background-color: orange;
	display: flex;
	/* выравнивание по горизонтали*/
	justify-content: space-between;
	flex-direction: column;
}

.boxik {

	height: 100%;
	background-color: green;
	text-align: center;
}

.boxik1 {

}

.block_green{
	width: 20%;
	height: 590px;
	background-color: green;
	margin-left:3%;
	float:left;
}

.block_blue{
	margin-left: 3%;
	width: 71%;
	height: 600px;
	background-color: blue;
	float:left;
	display: flex;
	/*выравнивание по вертикали*/
	align-items: center;

}

/*Если максимальная ширина становится меньше 
заданного значения(в данном случае 700рх),
то выполняются действия в скобках*/
@media (max-width: 500px){
	.block_green{
		width: 94%;
		margin-right: 3%;
		margin-bottom: 3%;
	}

	.block_blue {
		width: 94%;
		margin-right: 3%;
	}
}

/*Если соотношение экрана равно заданному
значению (в данном случае 16/9), то выполняется 
действия в скобках */
@media (aspect-ratio: 16/9){


}

/*Если ориентация экрана равна заданному значению 
(в данном случае portrait(вертикально)), то выполняется
действие в скобках (portrait(вертикально), landscape (горизонтально))*/

@media (orientation: portrait) {


}























.boxik{
	width: 200px;
	height: 200px;
	border: 2px solid #000;
	background-color: azure;
	transition-duration: 1s; /*время на изменение*/
	transition-property: all; /*что менять*/
	transition-delay: 0.1s; /*задержка изменений*/
	transition-timing-function: ease-out;/*варианты выполнения изменений*/
	transition: /*можно все в одну строчку*/

}



.boxik:active{
	margin-left: 300px;

}